[Unit]
Description=dipper_ai DDNS manager timer

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=dipper_ai.service

[Install]
WantedBy=timers.target
